body{
    background-color: blanchedalmond;
}
div{
    text-align:center;
font-size: 21px;
margin: 20px;
}
#active{
    color:blue;
    font-size: 30px;
}
#recovered{
    color:blueviolet;
    font-size: 30px;
}
#death{
    color:red;
    font-size: 30px;
}
